/**{
    font-family: 'Noto Sans Mono', monospace;
}
*/
*{
    box-sizing: border-box;
}
body{
    /*background-image: url(https://img.freepik.com/psd-premium/maqueta-logotipo-realista-moderna-sala-fitness-gimnasio_9790-721.jpg?w=2000);
    background-size: cover;*/
    background-color: rgba(42, 42, 44, 0.774);
    margin: 0,
}
/*
nav{
    
    height: 50px;
    font-weight: bold;
    font-size:xx-large 
}*/
.brand img{
    width: 55px;
    height: 55px;
}


#menubar {
    margin: 0.5rem 1rem 0.5rem 1rem;
}  
#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) ,url(https://i.imgur.com/bQtCh9Q.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1{
    font-size: 2em;
    text-align: center;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1em;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5); 
    color: white;
    background-color: blueviolet;
    margin: 10px;
}

button:hover{
    background-color: rgb(102, 29, 170) ;
}
/* index Responsive */
.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

#text-inicio{
    text-align: center;
    font-weight: bold;
    color:white

}
#text-costo {
    text-align: center;
    font-weight: bold;

}


/*table, th, td {
    border: 1px solid black;
    width: auto; */
table {
  width: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixedti;
}
table caption{
  font-size: 22px;
}

table th:hover {
  background-color: rgb(165, 231, 41);
}
table, th, td {
    border: 1px solid black;
    width: auto;
}
th{
  background-color:rgb(209, 183, 144);
}
td{
  background-color: rgb(137, 137, 243);
}
td:first{
  background-color: rgb(116, 113, 111);
}

body #contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) ,url(img/pesas2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    
   /* background-image: url(img/fondo1.jpg);
    background-size: cover;
    background-size: 95% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    */
    }

.ubicacion{
    padding: 2rem;
    margin: 2rem;
    position: relative;
}

footer{
    padding: 2rem;
    text-align: center;
}

/* CARROUSEL CPaste*/

body{
    background-color: lightgrey;
    font-family:'Roboto', sans-serif;
  }
  
.container{
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 1.2em;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }
  .container {
    max-width: 1400px;
    margin: auto
  }
  header{
    background-color: rgb(245,245,245);
  }
  
  header .brand{
    margin: 0;
    max-height: 3em;
    max-width: 3em;
   
    
  }

  header .container{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
 
  nav {
    display: flex;
    padding-bottom: 25px;
  
  }

  header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
  }

  header a:hover {
    color:black
  }

  .ubicacion {
    max-width: 1000px;
  }
  #banner{
    animation-name: cambiarColor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes cambiarColor {
    
    from{color:white;} 

    to{color:rgba(121, 113, 113, 0.993)}

  }
